body {
    font-family: Helvetica, Arial, sans-serif;
}

.logo {
    width: 80px;
    height: 80px;
    position: absolute;

}

h1 {
    position: absolute;
    margin-top: 75px;
    margin-left: 40px;
    font-weight: 100;
    float: left;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: #008CBA;
    border: none;
    color: white;
    width: 18%;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    position: absolute;
    left: 1000px;
 
}

hr.solid {
    border-top: 3px solid #bbb;
    
}
